{
  "APP_NAME": "SMSForwarder",
  "APP_ENV": "develop",
  "APP_DEBUG": true,
  "APP_PORT": "80",
  "APP_LOCALE": "en",
  "APP_KEY": "YOUR-APP-KEY",

  "CACHE_DRIVER": "memory",

  "PUSHOVER_TOKEN": "xxxxxxx",
  "PUSHOVER_USER": "xxxxxx",
  "PUSHOVER_DEVICE": "xxxx"
}
